/vendor
/node_modules
/.env
/.vscode
/.idea
*.log
.DS_Store
/testdox.html
/.phpunit.cache
/cache
/storage/qz
/public/qz/keys/private-key.pem
/public/qz/keys/digital-certificate.txt
/public/uploads
/storage/logs
/storage/cache
/storage/test.sqlite
/storage/test.sqlite-journal
composer.phar
