Options -MultiViews
RewriteEngine On

# Se o arquivo existir (uma imagem, um css), carrega ele direto
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Se não existir, manda para o index.php
RewriteRule ^ index.php [QSA,L]