openapi: 3.0.0
info:
  title: Cardápio SaaS Public API
  description: API for public menu access and order placement.
  version: 1.0.0
servers:
  - url: https://seudominio.com/api
    description: Production Server
paths:
  /order/create:
    post:
      summary: Create a new order
      description: Receives order data from the public web interface.
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Pedido criado com sucesso"
                  order_id:
                    type: integer
                    example: 123
        '400':
          description: Invalid Input
        '429':
          description: Too Many Requests (Rate Limited)

components:
  schemas:
    OrderRequest:
      type: object
      required:
        - restaurant_id
        - customer_name
        - items
      properties:
        restaurant_id:
          type: integer
        customer_name:
          type: string
        customer_phone:
          type: string
        customer_address:
          type: string
        order_type:
          type: string
          enum: [delivery, pickup, local]
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: integer
              quantity:
                type: integer
              additionals:
                type: array
